<link rel="stylesheet" href="../render/css/config.css" />
<div class="Content">
  <!-- Sidebar -->
  <div class="SideBarConfig">
    <div class="SideBarItem" data-target="launcher" style="cursor:pointer;">Launcher</div>
    <div class="SideBarItem" data-target="minecraft" style="cursor:pointer;">Minecraft</div>
    <div class="SideBarItem" data-target="apariencia" style="cursor:pointer;">Apariencia</div>
    <!-- <div class="SideBarItem" data-target="dev" style="cursor:pointer;">Desarrollador</div> -->
    <div class="SideBarItem close-btn" id="btn-apply-config" class="Submit" style="cursor:pointer;">Guardar</div>
  </div>

  <!-- Paneles -->
  <div class="PanelContainerConfig">
    <!-- Panel: Launcher -->
    <div class="PanelConfig active" data-panel="launcher" id="panel-launcher">
      <div class="config-section">
        <h2>Cuenta</h2>
        <label for="input-username">Nombre de usuario
          <input type="text" id="input-username" maxlength="17" placeholder="Username" />
        </label>
        <label for="input-uuid">UUID
          <input type="text" id="input-uuid" placeholder="UUID" />
        </label>
        <div class="VisualizerContainer">
          <div class="Visualizer">
            <canvas id="skin_container"></canvas>
          </div>
          <div class="SubmitContainer">
            <!-- <button class="Submit" id="btn-upload-skin">Subir Skin</button> -->
          </div>
        </div>
        <h2>Launcher</h2>
        <!-- <h2>Sonidos al iniciar</h2>
        <select id="select-startup-sounds">
          <option value=""></option>
          <option value=""></option>
          <option value=""></option>
          <option value=""></option>
        </select>
        <button id="btn-play-sound">Reproducir</button> -->
        <h2>Comportamiento</h2>
        <label for="checkbox-close-launcher">
          <input type="checkbox" id="checkbox-close-launcher" />
          Cerrar launcher al iniciar minecraft
        </label>
        <label for="checkbox-disable-3d">
          <input type="checkbox" id="checkbox-disable-3d" />
          Desactivar Modelos 3D ( Requiere reiniciar la app)
        </label>
        <label for="checkbox-hw-acceleration">
          <input type="checkbox" id="checkbox-hw-acceleration" />
          Aceleración por hardware
        </label>
        <label for="checkbox-minimize-close">
          <input type="checkbox" id="checkbox-minimize-close" />
          Minimizar al cerrar
        </label>
      </div>
    </div>
  
    <!-- Panel: Minecraft -->
    <div class="PanelConfig" data-panel="minecraft" id="panel-minecraft">
      <!-- <div class="config-section">
        <h2>Ruta .minecraft</h2>
        <label for="input-minecraft-path">Directorio:
          <input type="text" id="input-minecraft-path" placeholder="C:\Users\Usuario\AppData\.minecraft" />
        </label>
      </div> -->
      <div class="config-section">
        <h2>Java</h2>
        <label for="input-java-path">Ruta del ejecutable Java:
          <input type="text" id="input-java-path" placeholder="C:\Program Files\Java\bin\javaw.exe" />
        </label>
        <hr />
        <label for="input-ram">Memoria RAM (MB):
          <input type="number" id="input-ram" min="512" step="512" value="4096" />
        </label>
      </div>
      <div class="config-section">
        <h2>Resolución</h2>
        <label for="input-width">Ancho (px):
          <input type="number" id="input-width" value="854" />
        </label>
        <label for="input-height">Alto (px):
          <input type="number" id="input-height" value="480" />
        </label>
        <label for="checkbox-fullscreen">
          <input type="checkbox" id="checkbox-fullscreen" />
          Pantalla completa
        </label>
      </div>
    </div>
  
    <!-- Panel: Apariencia -->
    <div class="PanelConfig" data-panel="apariencia" id="panel-apariencia">
      <div class="config-section">
        <h2>Tema</h2>
        <label for="color-titlebar">Barra de título</label>
        <label for="color-primary-theme">Color Primario
          <input type="color" id="color-primary-theme" />
        </label>
        <label for="color-secondary-theme">Color Secundario
          <input type="color" id="color-secondary-theme" />
        </label>
        <label for="transparentTittle">Transpariencia
          <input type="range" id="transparentTittle" min="0" max="100">
        </label>
        <hr />
        <h3>Elementos</h3>
        <label for="color-primary-ui">Color Primario
          <input type="color" id="color-primary-ui" />
        </label>
        <label for="color-secondary-ui">Color Secundario
          <input type="color" id="color-secondary-ui" />
        </label>
        <label for="transparent">Transpariencia
          <input type="range" id="transparent" min="0" max="100">
        </label>
        <hr />
      </div>
      <div class="config-section">
        <h2>Fondo personalizado</h2>
        <label for="btn-upload-bg">Imagen de fondo:</label>
        <button class="SubmitArchive" id="btn-upload-bg">Subir archivo</button>
      </div>
    </div>
  
    <!-- Panel: Desarrollador -->
    <div class="PanelConfig" data-panel="dev" id="panel-dev">
      <div class="config-section">
        <h2>Descargas Opcionales</h2>
        <button id="btn-install-java">Instalar Java</button>
        <select id="select-java-version">
          <option value="">Java24</option>
          <option value="">Java17</option>
        </select>
        <h2>Opciones Avanzadas</h2>
        <label for="checkbox-debug-console">
          <input type="checkbox" id="checkbox-debug-console" />
          Mostrar consola debug
        </label>
        <label for="checkbox-save-logs">
          <input type="checkbox" id="checkbox-save-logs" checked/>
          Guardar logs del juego
        </label>
        <label for="checkbox-devtools">
          <input type="checkbox" id="checkbox-devtools" />
          Habilitar devTools
        </label>
        <button id="btn-import-css">Importar CSS</button>
        <div
          style="
            position: relative;
            width: 90%;
            height: 35dvh;
            margin-top: 0.5rem;
            border-radius: 0.5rem;
            background-color: #1115;
          "
        >
          <h5
            style="
              position: absolute;
              top: 5rem;
              left: 50%;
              transform: translateX(-50%);
            "
          >
            Sin CSS importados
          </h5>
        </div>
      </div>
    </div>
  </div>  
</div>
<script type="module" src="../render/js/layouts/config.js"></script>