<link rel="stylesheet" href="../render/css/download.css">

<div class="Content">
    <div class="Card">
    <h2>Descargar versión</h2>
    <div id="SelectVersions">
      <!-- TIPO DE VERSIÓN -->
      <div class="TypeRow" id="typeRow">
        <div class="type-btn selected" data-type="vanilla">Vanilla</div>
        <div class="type-btn" data-type="fabric">Fabric</div>
        <div class="type-btn" data-type="forge">Forge</div>
        <div class="type-btn" data-type="optifine">OptiFine</div>
        <div class="type-btn" data-type="neoforge">NeoForge</div>
        <div class="type-btn" data-type="legacyfabric">LegacyFabric</div>
    </div>
    <hr>
    <!-- VANILLA -->
    <div class="Settings active" id="settings-vanilla">
        <select id="vanilla-select">
        </select>
        <div class="chk-row">
        <label><input type="radio" name="vanilla-channel" value="release" checked />Release</label>
        <label><input type="radio" name="vanilla-channel" value="snapshot" />Snapshot</label>
        <label><input type="radio" name="vanilla-channel" value="old_beta" />Old Beta</label>
        <label><input type="radio" name="vanilla-channel" value="old_alpha" />Old Alpha</label>
        </div>
    </div>

    <!-- OTROS TIPOS (con select) -->
    <div class="Settings" id="settings-fabric">
        <select id="fabric-select">
        </select>
    </div>

    <div class="Settings" id="settings-forge">
        <select id="forge-select">
        </select>
    </div>

    <div class="Settings" id="settings-optifine">
        <select id="optifine-select">
        </select>
    </div>

    <div class="Settings" id="settings-neoforge">
        <select id="neoforge-select">
        </select>
    </div>

    <div class="Settings" id="settings-legacyfabric">
        <select id="legacyfabric-select">
        </select>
    </div>

    <div class="note">
        Seleccioná el tipo de versión y su variante antes de descargar. Las versiones modificadas son creadas por la comunidad.
    </div>
    </div>
    <div id="DebugConsoleDownload" style="display: none;">
    </div>

    <button class="DownloadBtn" style="height: 3rem;">Descargar versión</button>
    </div>
</div>
<script type="module" src="../render/js/layouts/download.js"></script>
  
