<link rel="stylesheet" href="../render/css/download.css" />

<div class="Content">
  <div class="Card">
    <h2>Jugar a Minecraft</h2>

    <div class="Header">
      <img src="../assets/img/minecraft.png" alt="icon" />
      <span>Perfil:</span> <span id="Username"></span>
    </div>

    <div class="Settings active">
      <label for="version">Versión</label>
      <select id="version"></select>
    </div>

    <button class="DownloadBtn" id="PlayGame" style="height: 3rem;">▶ JUGAR</button>

    <!-- Área de logs -->
    <pre id="logArea" style="margin-top:1rem; max-height: 60dvh; overflow-y: auto; background:#222; color:#eee; padding:0.5rem; border-radius:0.5rem; font-size: 0.9rem;"></pre>
  </div>
</div>
<script type="module" src="../render/js/layouts/play.js"></script>
