@import url("./global.css");
@import url("./panels.css");
.ContentMenu{
    position: fixed;
    bottom: 0;
    left: 0;
    background: var(--bg-custom-user);
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100dvh;
    z-index: 1;
}
@keyframes FadeInDownloadElement{
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(2rem);
    }
    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}
.SideBar{
    position: fixed;
    left: 0;
    bottom: 0;
    width: auto;
    height: 93dvh;
    min-width: 13rem;
    max-width: 25rem;
    padding-top: 5rem;
    opacity: var(--transparent);
    background: color-mix(in srgb, 65% var(--items-color-principal), 50% var(--items-color-secundary));
    display: flex;  
    flex-direction: column;
    gap: 0.5rem;
    .DownloadProgress{
        position: absolute;
        bottom: 5rem;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        height: 3rem;
        border-radius: 0.5rem;
        background-color: #40ff9c;
        border: 0.1rem solid black;
        padding: 0.2rem;
        filter: drop-shadow(0 0 0.5em #40ff9c);
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        opacity: 1 !important;
        z-index: 50;
        animation: FadeInDownloadElement 0.5s ease-in-out forwards; 
        img{
            position: absolute;
            top: -7rem;
            left: -50%;
            z-index: -1;
            mask-image: linear-gradient(90deg,black 50%,transparent 90%);
            scale: 1.01;
        }
        #downloadIcon {
            margin: auto;
            color: white;
            font-size: 2rem;
            z-index: 1;
            text-align: center;
        }
        h4{
            font-size: 1rem;
            font-family: "Fredoka", Arial, Helvetica, sans-serif;
            color:white;
            margin:auto;
            width: 9rem;
            height: 3rem;
        }
        .loader {
            position: absolute;
            top: -5em;
            right: -5em;
            width: 10rem;
            height: 10rem;
            border: 1.5rem solid var(--items-color-secundary);
            border-bottom-color: var(--items-color-principal);
            border-radius: 50%;
            display: inline-block;
            box-sizing: border-box;
            animation: rotation 0.8s ease-in-out infinite;
            z-index: -1;
        }
    }
    .Account{
        position: absolute;
        bottom: 0.5rem;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        height: 3rem;
        border-radius: 0.5rem;
        background-color: #111;
        border: 0.1rem solid #000;
        padding: 0.2rem;
        filter: drop-shadow(0 0 0.5em);
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        opacity: 1 !important;
        z-index: 50;
        h2{
            z-index: -1;
            font-size: 0.9rem;
            color:white;
        }
        #StatusImg{
            position: absolute;
            top: 0.2rem;
            left: 0.2rem;
            width: 0.8rem;
            margin: 0;
            animation: Pulse 5s ease-in-out infinite;
        }
        canvas{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -3rem;
            object-fit: cover;
            width: 10rem;
        }
    }
    .SideBarItem{
        height: auto;
        min-height: 2rem;
        width: 90%;
        margin: 0 auto;
        border-radius: 0.5rem;
        padding: 0.1rem 0.2rem;
        color:white;
        font-size: 70%;
        background: var(--items-color-principal);
        border: 0.1rem solid var(--items-color-secundary);
        background-size: cover;
        position: relative;
        transition: all 0.1s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        h3{
            margin-left: 0.5rem;
        }
        .material-icons{
            font-size: 1.3rem;
            margin-right: 1rem;
            transition: all 0.5s ease-in-out;
        }
        &:hover {
            scale: 1.05;
            filter: drop-shadow(0 0 0.5rem black);
            .material-icons{
                filter: drop-shadow(0 0 0.5rem);
            }
        }
        &:active{
            scale: 1.0;
            filter: none;
        }
    }
}
.Container{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 80%;
    height: 90%;
    overflow: hidden;
    border-radius: 0.5rem;
    background: #1115;
}